.form-group input{
    padding: 3px;
    background: #c9bfbf;
    width: 90%;
}
.form-group textarea{
    background: #e0dede;
    height: 300px;
    width: 90%;
}
.row{
    width: 100%;
}
.button button{ 
    width: 90%;
}